<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <a class="navbar-brand fw-bold text-danger" href="#"> GoQuiz </a>
      </div>
      <div class="quiz-header">
        <h4 style="font-family: cursive">This is GoQuiz!</h4>
        <span style="font-style: italic">Welcome User!</span>
      </div>
    </div>
    <div class="d-flex justify-content-around py-3">
      <div class="score">
        <h5>20 points</h5>
      </div>
      <div class="question-remain">
        <span style="font-style: italic">Question 1 of 9</span>
      </div>
      <div class="timer"><h5>60 sec</h5></div>
    </div>
  </div>
</div>
