<div class="container bg-light py-5 mt-2">
  <h1 class="display-5 fw-bold text-dark">Welcome to GoQuiz App</h1>
  <p class="col-md-8 fs-4">
    This quiz will contain a total of 10 questions. Each question holds 10
    points
  </p>
  <h4>Rules are stated below:</h4>
  <ol>
    <li>A correct question adds 10 points</li>
    <li>An incorrect question deducts -5 points</li>
    <li>Skipping a question does not add or deduct</li>
    <li>Each question has a duration of 40 seconds</li>
    <li>A refresh of the page will reset the quiz</li>
    <li>
      A total score of 50 points and above indicates that the quiz was passed
    </li>
    <li>A total score below 50 points indicates that the user failed</li>
  </ol>
  <h1 style="font-family: cursive; text-align: center">Good Luck!</h1>
  <div class="name col-md-4 my-3">
    <label for="name">Enter your name</label>
    <input #name type="text" class="form-control" title="name" />
  </div>
  <button
    class="btn btn-primary btn-lg"
    routerLink="/question"
    (click)="startQuiz()"
  >
    Start the Quiz!
  </button>
</div>
